# Google Maps API Key
# Get your API key from: https://console.cloud.google.com/google/maps-apis/
# Required APIs: Maps Embed API, Maps JavaScript API
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyB0WCRvbI_4fgT7mDCyxMFCFov9VDF2LB0
